<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Hello, world!</title>
    <link href="https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web/oui-css/oui.css" rel="stylesheet">
</head>
<body>
<main class="container">
    <div class="oui-viewing">
        <!-- Viewing area -->
        <h1>회원가입</h1>
    </div>
    <div class="oui-interaction">
        <!-- Interaction area -->
        <div class="col-12">
            <form action="" method="POST">
                <div class="oui-bubble">
                    <p class="oui-overlay-bubble-item">회원가입 정보</p>
                    <ul>
                        <li class="oui-bubble-item">
                            <div class="form-group">
                                <label for="userid">아이디</label>
                                <br/>
                                <input class="form-control" id="userid" name="userid" placeholder="아이디" type="text"/>
                            </div>
                        </li>
                        <li class="oui-bubble-item">
                            <div class="form-group">
                                <label for="email">이메일</label>
                                <br/>
                                <input class="form-control" id="email" name="email" placeholder="이메일" type="email"/>
                            </div>
                        </li>
                        <li class="oui-bubble-item">
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <br/>
                                <input class="form-control" id="password" name="password" placeholder="비밀번호"
                                       type="password"/>
                            </div>
                        </li>
                        <li class="oui-bubble-item">
                            <div class="form-group">
                                <label for="re_password">비밀번호 확인</label>
                                <br/>
                                <input class="form-control" id="re_password" name="re_password" placeholder="비밀번호 확인"
                                       type="password"/>
                            </div>
                        </li>
                        <li class="oui-bubble-item">
                            <input class="oui-button oui-button--active" type="submit" value="제출">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

<style>
    input,
    label {
        margin: .4rem 0;
        border-radius: 8px;
        height: 2.0rem;
        width: 20rem;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
</style>
