<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/OneUI-Web/oui.css" type="text/css">
    <title>mgCOin</title>
    <div style="text-align: center;">
        <div id="main_title">
            <h1>mgCoin</h1>
        </div>
    </div>
</head>
<body>
<div style="text-align: center;">
<!--    <form method="POST", action="/">-->
<!--        <button type="submit" class="oui-button oui-button&#45;&#45;active">-->
<!--            홈 화면으로 돌아가기-->
<!--        </button>-->
<!--    </form>-->
</div>
</body>
</html>
