<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/OneUI-Web/oui.css" type="text/css">
    <title>mgCOin</title>

    <div style="text-align: left;">
        <div id="main_title" style="margin-left: 8%; margin-top: 1%">
            <h1>mgCoin</h1>
            <image style="width:25px"> </image>
        </div>
        <hr style="transparent: 80%";/>
    </div>
</head>

<body>
    <div style="text-align: center;">
        <h3>
            <p class="oui-overlay-bubble-item">목록</p>
        </h3>
        <ul>
            <li class="oui-bubble-item">채굴</li>
            <li class="oui-bubble-item">거래</li>
        </ul>
    </div>
</body>
</html>

<!--<style>-->
<!--    main_title.margin-left-->
<!--</style>-->
