<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/OneUI-Web/oui.css" type="text/css">
    <title>로그인 실패</title>
    <div style="text-align: center;">
        <div id="main_title">
            <h1>로그인 실패!</h1>
        </div>
    </div>
</head>
<body>
<div style="text-align: center;">
    <form method="GET" action="/">
        <button type="submit" class="oui-button oui-button--active">
            홈 화면으로 돌아가기
        </button>
    </form>
</div>
</body>
</html>
